{% extends "base.html" %}
{% block content %}
<h1>Confirm your identity with a passwordless code</h1>
<section>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
          <ul class="message">
          {% for message in messages %}
             <li>{{ message }}</li>
          {% endfor %}
          </ul>
       {% endif %}
    {% endwith %}
    <p>A passwordless push notification has been sent to your phone. Please click the notification and approve it to confirm your identity.</p>
    <p>Click the link below once you have approved the notification.</p>
    <p><a href="/auth/passwordless/check">I have confirmed my identity from the Okta app</a></p>
</section>
{% endblock %}