{% extends "base.html" %}
{% block content %}
<style>
    main, #main {
        max-width: 50rem;
    }
</style>
<h1>Alto Settings</h1>
<h2>Your Account</h2>
<section class="profile-card">
{% if session.get("h_card", {}).get("photo") %}
    <img src="{{ session.get("h_card").get("photo") }}" alt="Profile Picture" height="3rem"/>
{% endif %}
{% if session.get("h_card", {}).get("name") %}
    <p>You are signed in as {{ session.get("h_card", {}).get("name") }} (<a href="{{ session.get("me") }}">{{ session.get("me") }}</a>).</p>
{% else %}
    <p>You are signed in as <a href="{{ session.get("me") }}">{{ session.get("me") }}</a>.</p>
{% endif %}
</section>
<h2>Sessions</h2>
<section>
    {% with messages = get_flashed_messages() %}
       {% if messages %}
          <ul class="message">
          {% for message in messages %}
             <li>{{ message }}</li>
          {% endfor %}
          </ul>
       {% endif %}
    {% endwith %}
    <p>You have signed into the following sites with Alto:</p>
    {% if issued_tokens %}
        <table>
            <thead>
                <tr>
                    <th>Issued To</th>
                    <th>Issued On</th>
                    <th>Scope(s)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for token in issued_tokens %}
                <tr>
                    <td data-label="Issued To">{% if token[5] and token[5].logo %}<img src="{{ token[5].logo }}" style="height: 1rem; width: 1rem;" />{% endif %}<a href="{% if token[5] and token[5].url %}{{ token[5].url }}{% else %}{{ token[3] }}{% endif %}">{% if token[5] and token[5].name %}{{ token[5].name }}{% else %}{{ token[3] }}{% endif %}</a></td>
                    <td data-label="Issued On">{{ token[2] }}</td>
                    <td data-label="Scope(s)">{% if token[6] %}{{ token[6] }}{% else %}<em>None</em>{% endif %}</td>
                    <td data-label="Actions"><a href="/revoke?token={{ token[0] }}">Revoke</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You have not signed into any services with Alto yet.</p>
    {% endif %}
    <details style="margin-top: 1rem;">
        <summary>Issue a Token</summary>
        <p>Use the form below to issue a token.</p>
        <form action="/generate" method="POST">
            <label for="client_id">Client ID:</label>
            <input type="url" name="client_id" id="client_id" placeholder="https://jamesg.blog" />
            <label for="redirect_uri">Redirect URI:</label>
            <input type="url" name="redirect_uri" id="redirect_uri" placeholder="https://jamesg.blog/callback" />
            <label for="scope">Scope(s), seperated by spaces:</label>
            <input type="text" name="scope" id="scope" placeholder="create update delete" />
            <details>
                <summary>Common Scope Definitions</summary>
                <p>Here are the common scopes that applications may need:</p>
                <ul>
                    {% for scope_name, description in SCOPE_DEFINITIONS.items() %}
                        <li>{{ scope_name }}: {{ description }}</li>
                    {% endfor %}
                </ul>
            </details><br>
            <input type="hidden" name="me" value="{{ session.get('me') }}" />
            <input type="hidden" name="response_type" value="code" />
            <input type="hidden" name="code_challenge" value="" />
            <input type="hidden" name="code_challenge_method" value="" />
            <input type="hidden" name="is_manually_issued" value="true" />
            <input type="hidden" name="state" value="" />
            <input type="submit" value="Issue Token" />
        </form>
    </details>
</section>
{% endblock %}