{% extends "base.html" %}
{% block content %}
<div id="main">
<!-- If you are building digital services, consider writing an accessibility statement for your project. -->

<h1>Accessibility Statement for Alto</h1>
<p>
	This is an accessibility statement from <span class="basic-information organization-name">Alto</span>.
</p>
<h3>Measures to support accessibility</h3>
<p>
	<span class="basic-information organization-name">Alto</span>
	takes the following measures to ensure accessibility of
	<span class="basic-information website-name">Alto</span>:
</p>
<ul class="organizational-effort accessibility-measures">
	<li>Include accessibility as part of our mission statement.</li>
	<li>Assign clear accessibility goals and responsibilities.</li>
</ul>
<h3>Conformance status</h3>
<p>
	The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA.
	<span class="basic-information website-name">Alto</span>
	is
	<span class="basic-information conformance-status" data-printfilter="lowercase">partially conformant</span>
	with
	<span class="basic-information conformance-standard"><span data-negate="">WCAG 2.1 level AA</span>.</span>
	<span>
	<span class="basic-information conformance-status">Partially conformant</span>
	means that
	<span class="basic-information conformance-meaning">some parts of the content do not fully conform to the accessibility standard</span>.
</span>
</p>
<h3>Feedback</h3>
<p>
	We welcome your feedback on the accessibility of
	<span class="basic-information website-name">Alto</span>.
	Please let us know if you encounter accessibility barriers on
	<span class="basic-information website-name">Alto</span>:
</p>
<ul class="basic-information feedback h-card">
	<li>
	E-mail:
	<a class="email u-email" href="mailto:jamesg@jamesg.blogjamesg@jamesg.blog">jamesg@jamesg.blog</a>
</li>
</ul>
<p>
	We try to respond to feedback within <span class="feedback responsetime">one week</span>.
</p>
<h3>Technical specifications</h3>
<p>
	Accessibility of
	<span class="basic-information website-name">Alto</span>
	relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:
</p>
<ul class="technical-information technologies-used">
	<li>HTML</li>
	<li>CSS</li>
</ul>
<p>These technologies are relied upon for conformance with the accessibility standards used.</p>
<h3>Assessment approach</h3>
<p>
	<span class="basic-information organization-name">Artemis</span>
	assessed the accessibility of
	<span class="basic-information website-name">Artemis</span>
	by the following approaches:
</p>
<ul class="technical-information assessment-approaches">
	<li>Self-evaluation</li>
</ul>
<h3>Date</h3>
<p>
	This statement was created on
	<span class="basic-information statement-created-date">4 September 2025</span>
	using the <a href="https://www.w3.org/WAI/planning/statements/">W3C Accessibility Statement Generator Tool</a>.
</p>
<p><a href="/">Go back to the home page</a>.</p>

</div>
{% endblock %}