<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% if get_flashed_messages() %}{{ get_flashed_messages()[0].message }} - {% endif %}{% if title %}{{ title }}{% else %}Alto{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

    <link rel="icon" href="https://artemis.jamesg.blog/assets/mascot-newspaper.svg" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <main>
      <a href="#main" class="accessibility_label_top">Skip to main content</a>
      <nav>
        <p><a href="/">Alto</a></p>
        {% if session.get("logged_in") == True %}
        <ul>
          <li><a href="/issued" class="flex">{% if session.get("h_card", {}).get("photo") %}<img src="{{ session.get("h_card", {}).get("photo") }}" alt="Profile Picture"> {% endif %}Signed in as {{ session.get("h_card", {}).get("name", session.get("me")) }}</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
        {% endif %}
      </nav>
      <div id="main">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <ul class="message">
              {% for message in messages %}
                <li class="message-{{ message.type }}">{{ message.message }}</li>
              {% endfor %}
              </ul>
          {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
      </div>
      <p class="accessibility_label"><a href="#main">Go Back to the Top</a></p>
    </main>
  </body>
</html>